* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Navbar Styling */
.headerContainer {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.headerContainer h1 {
  margin-left: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin-right: 10px;
}

/* Hero Styling */
.heroBanner {
  height: 200px;
  background-image: url("../images/my-images/pawel-czerwinski-QY5U8JD3-tk-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.heroBanner h2 {
  margin-right: 10px;
}