* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Navbar Styling */
.headerContainer {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.headerContainer h1 {
  margin-left: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin-right: 10px;
}

/* Hero Styling */
.heroBanner {
  height: 200px;
  background-image: url("../images/my-images/pawel-czerwinski-QY5U8JD3-tk-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.heroBanner h2 {
  margin-right: 10px;
}

/* Main Page Styling */
.pageWrapper {
  display: grid;
  grid-template-columns: 200px 75%;
  grid-template-rows:
    minmax(200px, auto) minmax(600px, auto) minmax(100px, auto)
    minmax(100px, auto);
  grid-template-areas:
    "aboutH2 aboutP"
    "workH2 workP"
    "contactH2 contactP"
    "resumeH2 resumeP";
  margin: 0 5%;
  row-gap: 20px;
  overflow: hidden;
  margin-top: 20px;
}

.page-section {
  display: contents;
}

#aboutH2 {
  grid-area: aboutH2;
  justify-self: end;
  margin-right: 20px;
}

#aboutP {
  grid-area: aboutP;
  border-left: 3px solid red;
  padding-left: 60px;
}

#workH2 {
  grid-area: workH2;
  justify-self: end;
  padding-right: 20px;
}

#workP {
  grid-area: workP;
  border-left: 3px solid red;
  padding-left: 60px;
}

#contactH2 {
  grid-area: contactH2;
  justify-self: end;
  padding-right: 20px;
}

#contactP {
  grid-area: contactP;
  border-left: 3px solid red;
  padding-left: 60px;
}

#resumeH2 {
  grid-area: resumeH2;
  justify-self: end;
  padding-right: 20px;
}

#resumeP {
  grid-area: resumeP;
  border-left: 3px solid red;
  padding-left: 60px;
}

/* About Styling */

/* Work Styling */
.workGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "horiseon horiseon"
    "css landing"
    "jake soon";
}

#horiseon {
  grid-area: horiseon;
  background-image: url("../images/my-images/xinyi-w-qjCHPZbeXCQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#css {
  grid-area: css;
  background-image: url("../images/my-images/xinyi-w-qjCHPZbeXCQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#landing {
  grid-area: landing;
  background-image: url("../images/my-images/xinyi-w-qjCHPZbeXCQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#jake {
  grid-area: jake;
  background-image: url("../images/my-images/xinyi-w-qjCHPZbeXCQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#soon {
  grid-area: soon;
  background-image: url("../images/my-images/xinyi-w-qjCHPZbeXCQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.workText {
  display: flex;
  justify-content: end;
  align-items: end;
}
